/*--creating structure--*/

.box-shadow{box-shadow:rgba(0, 0, 0, 0.05) 0px 1px 2px;}
.padding-5{width: 90%; margin-left: 5%; margin-top: 10px;}

.new-line {
    white-space: pre-line;
  }

.jumbo-card{width: 100%; min-height: 350px; background-color: #fff; z-index: -1;}
.jumbo-image{width: 100%; height: 350px;}

.jumbo_overlap{width: 100%; min-height: 410px; background-color: rgba(0,0,0,0.6); 
  position: absolute; top: 0; left: 0; text-align: center; padding-top: 200px;}


.title_share_box{width: 100%; min-height: 40px;}
.title_share_box{content: ""; display: table; clear: both;}
.title_box{width: 85%; float: left; min-height: 40px;}
.share_box{width: 15%; float: left; min-height: 40px; text-align: right; padding-top: 10px;}


.message_comment_suggestion_box{width: 94%; margin-left: 3%;}
.message_comment_suggestion_box:after{content: ""; display: table; clear: both;}

.message_comment_box{width: 70%; float: left;}
.suggestion_box{width: 28%; margin-left: 2%; float: left;}

.message_box, .comment_box {width: 100%; min-height: 300px;}
.author_details, .suggestion_links{width: 100%;}