.link-name{text-decoration: underline; color: #2d5986}

.padding-5{width: 90%; margin-left: 5%; text-align:left; padding: 10px 0px 10px 0px;}
.box-shadow{box-shadow:rgba(0, 0, 0, 0.25) 0px 1px 2px; border-radius: 4px;}
.small-heading{font-weight: bold;}

.search-cards{width: 100%; margin-top: 20px; background-color: #fff;}

.creator-name{color: #008060}

.card-row{width: 100%; min-height: 200px; border-bottom: 0.5px solid rgba(0,0,0,0.05); background-color: #fff;}
.card-row:after{content: ""; display: table; clear: both;}

.card-left{width: 25%; float: left; text-align: right; min-height: 200px;}
.card-right{width: 63%; float: left; min-height: 200px;}
.extreme_right{width: 5%; float: left; text-align: right; min-height: 200px;}

.card-image{height: 100px; width: 100px; border-radius: 50%; padding: 2px; border: 2px solid #99e6ff;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 1px 2px;}